@page "/"

<PageTitle>JSWN 的博客</PageTitle>

<h1>JSWN 的博客</h1>

<p>欢迎来到我的博客！</p>

<p>在这里，我会分享我的开发经验、心得体会，希望能给你启迪与帮助</p>

<hr />

<InfoCard Name="极速蜗牛" Icon="@icon">
    <p>
        C# 菜鸡，对 C# 和 .NET 有着狂热的执念。
    </p>
    <figure>
        <blockquote class="blockquote">
            <p class="text-decoration-line-through">
                这个功能实现不了？来用 C#！
            </p>
        </blockquote>
        <figcaption class="figure-caption text-end text-decoration-line-through show-on-hover">
            （用 F# 也行）
        </figcaption>
    </figure>
</InfoCard>
<hr />

<p class="text-danger fs-5">
    反对向乌克兰运送进攻性武器，全力推动俄乌冲突谈判进程。
</p>

<hr />

<p>
    本站多处正在施工中
    <FluentIcon Name="@(FluentIcons.RoadCone)" Filled="false" Size="IconSize.Size20" UseAccentColor="false" />，去<a href="posts">博文</a>看看吧！
</p>

@code {
    Uri icon = new Uri("Asset/avatar.jpg", UriKind.Relative);
}
