@page "/"

<PageTitle>JSWN 的博客</PageTitle>

<h1>JSWN 的博客</h1>

<p>欢迎来到我的博客！</p>

<p>在这里，我会分享我的开发经验、心得体会，希望能给你启迪与帮助</p>

<hr />

<p>正在施工中<i class="ms-Icon ms-Icon--ConstructionCone"></i>，去<a href="/posts">博文</a>看看吧！</p>
