@page "/links"
@inject Task<IList<LinkInfo>> LinksTask

<PageTitle>友情链接</PageTitle>

<h1>来认识一下我的好朋友们</h1>
<div class="links">
    @if (LinksList is not null)
    {
        foreach (LinkInfo link in LinksList)
        {
            <InfoCard Link="@(link.Link)" Name="@(link.Name)" Icon="@(link.Icon)" Description="@(link.Description)" />
        }
    }
</div>
