.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.link-card {
    display: block;
    width: 20em;
    height: 8em;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.75);
    color: #212121;
    border: 1px solid #f3f3f3;
    border-radius: 8px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.14);
    margin: 10px;
    padding: 1em;
}

.link-icon {
    width: 6em;
    height: 6em;
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 33%;
}
