@page "/posts"
@using Blog.Models
@inject HttpClient _httpClient
@inject Task<IList<PostInfo>> _postsListTask

<h1>博文</h1>

@if (PostsList != null)
{
    <ul>

        @foreach (PostInfo post in PostsList)
        {
            <li class="post-info">
                <h2 class="post-title">
                    <FluentAnchor Appearance="Appearance.Hypertext" Href=@($"/posts/detail/{post.UrlTitle}")>
                        <span class="post-link">@post.Title</span>
                    </FluentAnchor>
                </h2>
                <p>@post.PostTime.SiteFormat()</p>
            </li>
        }
    </ul>
}
