@page "/posts"
@using Blog.Models
@inject Task<IList<PostInfo>> PostsListTask

<PageTitle>博文</PageTitle>

<h1>博文</h1>

@if (PostsList != null)
{
        <ul>

        @foreach (PostInfo post in PostsList)
        {
                    <li class="post-info">
                        <h2 class="post-title">
                            <a href="@($"/posts/detail/{post.UrlTitle}")">
                                <span class="post-link">@post.Title</span>
                            </a>
                        </h2>
                        <p>@post.PostTime.ToRelativeTime()</p>
                    </li>
        }
        </ul>
}
