@if (Name != null)
{
    <div class="link-card">
        <div class="link-content">
            <h3>
                @if (Link == null)
                {
                    <text>@Name</text>
                }
                else
                {
                    <a href="@Link" target="_blank">
                        @Name
                    </a>
                }
            </h3>
            @ChildContent
        </div>
    </div>
}
