@using System.Runtime.InteropServices
@using System.Text.Json.Nodes
@inherits LayoutComponentBase
@inject HttpClient HttpClient

<div class="page">
    <div class="topbar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
        <div class="content px-4">
            <p>
                Built with
                <span style="fill: red">
                    <FluentIcon Filled="true" Name="@(FluentIcons.Heart)" Size="IconSize.Size20" UseAccentColor="false" />
                </span>
                and Blazor WebAssembly,
                powered by @(RuntimeInformation.FrameworkDescription).
            </p>
        </div>
    </main>
</div>

