@inherits LayoutComponentBase

<div class="page">
    <div class="topbar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
        <div class="content px-4">
            <p>Built with
                <i class="ms-Icon ms-Icon--HeartFill" style="color: red;"></i>
                and Blazor WebAssembly,
                powered by @(System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription).</p>
        </div>
    </main>
</div>
