.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
}

.navbar-brand {
    font-size: 1.1rem;
}

.navbar-brand-container {
    display: flex;
    align-items: center;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    padding-left: 1em;
    padding-right: 1em;
}

    .nav-item ::deep a {
        color: #d7d7d7;
        fill: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item ::deep a.active {
            background-color: rgba(255, 255, 255, 0.25);
            color: white;
            fill: white;
        }

        .nav-item ::deep a:hover {
            background-color: rgba(255, 255, 255, 0.1);
            color: white;
            fill: white;
        }

.text-margin-left {
    margin-left: 0.5rem;
}

.toggler-icon {
    height: 1.25rem;
    width: 1.25rem;
}

@media (min-width: 641px) {
    .collapse {
        /* Never collapse the topbar for wide screens */
        display: block;
    }

    .nav-menu {
        display: flex;
        justify-content: center;
    }

    .nav-item {
        padding-top: 0.5rem;
    }

    .title-bar {
        justify-content: center;
    }
}

@media (max-width: 640.999px) {
    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }
}
