<PageTitle>页面走丢啦！</PageTitle>

<div class="not-found-body">
    <div class="not-found-icon"></div>

    <p class="not-found-info">
        Oops，页面走丢啦……
    </p>

    <p class="not-found-info">
        <FluentAnchor Href="/" Appearance="Appearance.Accent">返回首页</FluentAnchor>
    </p>

</div>

@code {

}
